h1{
  margin-top: 250px;
  text-align: center;
  color: whitesmoke;
  font-size: 40px;
  font-weight: bold;
}
@media(max-width : 768px){
  h1{
    margin-top: 200px;
    font-size: 35px;
  }
}
@media(max-width : 425px){
  h1{
    margin-top: 150px;
    font-size: 35px;
  }
}
